 body { 
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-left: 20px;
    font-size:  20px;
}

h2 { 
    background-color:#DCDCDC;
    color:#000000;
    padding: 2px;
    text-shadow: 1px 1px white; 
    box-shadow: 3px 3px 3px #bbb;
    margin-left: 5px;
    margin-right: 5px;
}
  
header{
    text-align: left;
    font-weight: bold;
    font-size: 60px;
    display: flex;
}
header img{
    width: 150px;
    border: 2px #ffffff;
    justify-content: center;
    margin-left: 30px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    z-index: 5;
}
.background {
    padding : 1em;
    width: 99%;
    height: 160px;
    box-sizing: border-box;
    background-color: rgb(222, 235, 247);
    position: absolute;
    z-index: 1;
    top: 50px;
}
.arthur{
    color: #136b94;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 93px;
    z-index: 5;
}
.gil{
    color: #252525;
    margin-top: 93px;
    z-index: 5;
}

section{
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px #bbb;
    background-color: #fff;
}
  
footer { 
    background-color: #4d4d4d;
    color: white;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    display: block;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer img{
    margin-top: 8px;
    margin-bottom: 5px;
    width: 40px;
    height: 40px;
}
  
.button {
    background-color: #1f96db;
    color: white;
    padding: 14px 28px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 24.7%;
    border: 2px solid #1f96db;
    box-shadow: 0px 0px 3px #797979;
}
.button:hover {
    background-color: #0f7ebe;
    font-size: 19px;
    border: none;
    color: white;
}
  