 body { 
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

/*Titres*/
h2 { 
    background: #dbdbdb;/*rgb(189, 215, 238); #dbdbdb;*/
    padding: 2px;
    box-shadow: 0px 1px 1px #bbb;
    border-radius: 5px 5px 0px 0px;
    display: flex;
}
h2 img {
    height: 25px;
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 5px;
    display: flex;
}
.titre {
    display: flex;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*text-shadow: 1px 1px 1px white;*/
    color: #000000; /*rgb(40, 99, 153);*/
}

/*Header*/
header{
    text-align: left;
    font-weight: bold;
    font-size: 45px;
    display: flex;
}
header img{
    width: 130px;
    border: 2px #ffffff;
    justify-content: center;
    margin-left: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    z-index: 5;
}
.background {
    padding : 1em;
    width: 99%;
    height: 120px;
    box-sizing: border-box;
    background: linear-gradient(to top right, #ff990060 0%, #ff000050 100%); /*linear-gradient(to top right, #ff990050 0%, #ff000050 100%)*/
    position: absolute;
    z-index: 1;
    top: 40px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
}
.arthur{
    color: black;
    font-weight: normal;
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 67px;
    z-index: 5;
}
.gil{
    color: black;
    margin-top: 67px;
    z-index: 5;
}

/*Nav*/
nav {
    margin-top: 10px;
    margin-bottom: 20px;
}

.button {
    background: #ffffff;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 24.7%;
    font-size: 20px;
    border: 2px solid #000000; /*#0f7ebe*/
    transition: all 0.1s;
    border-radius: 5px;
}
.button:hover {
    background: linear-gradient(to top right, #ff990060 0%, #ff000050 100%);/*linear-gradient(to top right, #ffaa0070 0%, #f169ad60 100%)*/
    border: 2px solid #000000;
    color: black;
    font-size: 19px;
    transition: all 0.1s;
}

/*Mise en page content*/
p {
    margin-left: 20px;
    margin-right: 20px;
}

strong {
    font-weight: normal;
}

i {
    font-size: 16px;
    color: rgb(145, 145, 145);
    margin-left: 15px;
}

b {
    font-size: 19px;
}

.desc {
    font-size: 18px;
}

section{
    flex-flow: row wrap;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    box-shadow: 1px 2px 2px 1px #bbb;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

main {
    width: 67%;
    margin-right: .6rem;
    float: right;
    color: #000000;
}

aside {
    width: 30%;
    margin-left: .6rem;
    float: left;
    color: #000000;
}

/*Footer*/
footer { 
    background: #dbdbdb;
    color: white;
    font-size: 1em;
    font-style: italic;
    text-align: center;
    width: 100%;
    display: flex;
    box-shadow: 1px 2px 2px 1px #bbb;
}
footer img{
    margin-top: 4px;
    width: 30px;
    height: 30px;
}
.logo {
    background: #ffffff;
    width: 19%;
    display: flex;
    justify-content: space-around;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0.5px 1px 1px 1px #bbb;
    margin-left: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}
  